.listhead {
	background: #666666;
}

.listrow1 {
	background: #990000;
}

.listrow2 {
	background: #FFFFCC;
}

.listtable {
	border: 1px solid #000000;
	width: 600px;
}

.listrowhover {
	background: #33FFFF;
}

.aa {
	background: #FFFF33;
}